//
//  Common
//  _____________________________________________

video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;

  h1 {
    width: 85%;
    margin-top: -100px;
    color: #fff;
    font-family: "CircularStd-Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  > p {
    color: #fff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

//
//  Desktop
//  _____________________________________________

@media screen and (min-width: 768px) {
  .hero-container {
    h1 {
      font-size: 4.4rem;
    }

    > p {
      font-size: 32px;
      margin-top: 8px;
    }
  }

  .hero-btns {
    margin-top: 32px;

    .btn {
      margin: 6px;
    }
  }

  .fa-play-circle {
    margin-left: 4px;
  }
}

//
//  Mobile
//  _____________________________________________

@media screen and (max-width: 767px) {
  .hero-container {
    h1 {
      font-size: 50px;
      margin-bottom: 20px;
    }

    > p {
      font-size: 30px;
    }
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .hero-container {
    h1 {
      font-size: 35px;
    }
  }
}
