.about-us {
  height: 100vh;
  background: #951b1b;
  color: #fff;
}
.about-us__wrapper {
  display: flex;
  margin: 0 auto;
  width: 80%;
}
.about-us__wrapper > div {
  width: 50%;
}
.about-us > h1 {
  font-size: 70px;
  text-align: left;
  width: 80%;
  margin: 0 auto 80px;
  padding-top: 30px;
}

.about-us__description > p,
.about-us__description > ul,
.about-us__description li {
  line-height: 32px;
}
.about-us__description > ul li {
  margin-left: 70px;
}
.about-us__description > p span {
  display: block;
  margin-bottom: 30px;
}